.idea
.history
.vscode
.vs
.git
.gitignore
.dockerignore
*.sln
*.*.DotSettings.user
docker-compose*
Dockerfile*
**/bin/
**/obj/
global.json
Infrastructure-Internal/Resources/code.png
LICENSE
README.md