.idea
.history
.vscode
.vs
.git
.gitignore
.dockerignore
*.sln
*.*.DotSettings.user
docker-compose*
Dockerfile*
**/Dockerfile*
**/bin/
**/obj/
**/appsettings.Developemnt.json
Infrastructure-Internal/*
global.json
LICENSE
README.md